#site{
    width:1400px;
    height:auto;
    margin-top:0;
    margin-left:auto;
    margin-bottom:0;
    margin-right:auto;
     background-color:#666;
     z-index: 0;
  }
#header{
    width:1400px;
    height:50px;
    background-color:#2A3D45;
    box-shadow: inset 5px 5px 10px grey;

    z-index: 100;
}
#conteudo{
    width:1400px;
    height: 1237px;;
    background-color:#f5f5f5;
    z-index: 1;
    }
.nav-bar-esq, .nav-bar-dir, .nav-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    list-style: none;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.conteudo-centra{
    width:1400px;
    height:10px;
    float:left;
    background-color:#080808;
    }
a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
a:-webkit-any-link:hover {
    color: #F5B700;
    cursor: pointer;
    text-decoration: none;
    transition: 0.8s;
}
li{
    text-align: -webkit-match-parent;
    text-decoration: none;
    margin-right: 30px;
    border: none;
}

.conteudo-left{
    width:700px;
    height:300px;
    float:left;
    background-color:#f5f5f5;
    }
.conteudo-right{
    width:700px;
    height:300px;
    float:left;
    background-color:#f5f5f5;
    }
    #footer{
        width:1400px;
        height: 50px;
        margin-bottom: 0;
        margin-left: 0;
        background-color:#9cb3bd;
    }